@page
@model Vehiculos_Choferes.Pages.Choferes.CrearModel
@{
    ViewData["title"] = "Agregar un nuevo Chofer";
}

<div class="alert alert-info alert-dismissible fade show" role="alert">
    <p>Aca va un mensaje emergente</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<body>
    <header>
        <div class="row">
            <div class="col-sm-6">
                <h2 class="text-info">Agregar un nuevo Chofer</h2>
            </div>
        </div>
    </header>

</body>
