@page
@model Vehiculos_Choferes.Pages.Choferes.IndexModel
@{
    ViewData["title"] = "Listado de Choferes";
}

<div class="alert alert-info alert-dismissible fade show" role="alert">
    <p>Aca van los mensajes emergentes</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<body>
    <header>
        <div class="row">
            <div class="col-sm-6">
                <h2 class="text-info">Lista de Choferes</h2>
            </div>
            <div class="col-sm-6">
                <a asp-page="Crear" class="btn btn-primary">Agregar un Nuevo Chofer</a>
            </div>
        </div>
    </header>

    <main>

    </main>

    <footer>
    </footer>
</body>